.user-card {
    display: flex;
    flex-direction: column;
    background-color: #fdfd;
    padding: 30px;
}

.user-name {
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

img {
    border-radius: 50%;
    width: 300px;
    object-fit: cover;
}   